<article class="psychic-schedule">
  <h1>My Schedule for the Week of <b>October 31, 2013</b></h1>

  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Sun</th>
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Date</th>
        <th>Fri</th>
        <th>Sat</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>12 AM</td>
        <td class="pscychic-available">Avail.</td>
        <td class="pscychic-available">Avail.</td>
        <td class="pscychic-available">Avail.</td>
        <td class="pscychic-unavailable">N/A</td>
        <td class="pscychic-available">Avail.</td>
        <td class="pscychic-available">Avail.</td>
        <td>N/A</td>
      </tr>
      <tr>
        <td>01 AM</td>
        <td class="pscychic-unavailable">N/A</td>
        <td class="pscychic-unavailable">N/A</td>
        <td class="pscychic-available">Avail.</td>
        <td class="pscychic-unavailable">N/A</td>
        <td class="pscychic-available">Avail.</td>
        <td class="pscychic-available">Avail.</td>
        <td class="pscychic-available">Avail.</td>
      </tr>
      <tr>
        <td>02 AM</td>
        <td class="pscychic-available">Avail.</td>
        <td class="pscychic-available">Avail.</td>
        <td class="pscychic-available">Avail.</td>
        <td class="pscychic-available">Avail.</td>
        <td class="pscychic-unavailable">N/A</td>
        <td class="pscychic-available">Avail.</td>
        <td class="pscychic-available">Avail.</td>
      </tr>
      <tr>
        <td>03 AM</td>
        <td class="pscychic-available">Avail.</td>
        <td class="pscychic-available">Avail.</td>
        <td class="pscychic-available">Avail.</td>
        <td class="pscychic-available">Avail.</td>
        <td class="pscychic-available">Avail.</td>
        <td class="pscychic-unavailable">N/A</td>
        <td class="pscychic-available">Avail.</td>
      </tr>
      <tr>
        <td>04 AM</td>
        <td>N/A</td>
        <td class="pscychic-available">Avail.</td>
        <td class="pscychic-available">Avail.</td>
        <td class="pscychic-available">Avail.</td>
        <td class="pscychic-unavailable">N/A</td>
        <td class="pscychic-available">Avail.</td>
        <td class="pscychic-available">Avail.</td>
      </tr>
    </tbody>
  </table>
</article>