<div class="row-fluid">
  <div class="span12">
    <h3>New phone</h3>
  </div>
  <div class="span12">
    <form class="form-inline">
      <input type="text" class="input-small" placeholder="Number">
      <input type="text" class="input-small" placeholder="Description">
      <button type="submit" class="btn">Save</button>
    </form>
  </div>
</div>
