@import "main/helpers";

.container-psychics {
  @extend %clearfix;
  margin-top: 120px;
  color: #677488;

  article {
    margin-bottom: 60px;
  }
}

a.psychics-more {
  text-align: center;
  display: block;
  margin-bottom: 150px;
}