@import "main/helpers";

.container {
  background: #fff;
  padding-top: 60px;
}

.container-offers {
  @extend %clearfix;
}

.container-offer {
  width: 370px;
  height: 500px;
  background: #232d3b;
  float: left;
  margin: 0 0 90px 0;
  border-radius: 10px;
  display: table;
  -webkit-box-shadow: 0px 10px 1px rgba(0, 0, 0, 1);
  -moz-box-shadow:    0px 10px 1px rgba(0, 0, 0, 1);
  box-shadow:         0px 10px 1px rgba(0, 0, 0, 1);

  div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 72px;
    font-weight: 100;
  }
}

.container-offer + .container-offer {
  margin-left: 30px;
}

.container-nav {
  font-size: 18px;
  background: #232d3b;
  border-radius: 40px;
  height: 30px;
  padding: 25px 0 20px 45px;
  position: relative;
}

.container-nav-links {
  @extend %flat-list;

  a {
    color: #fff;
    text-decoration: none;
  }
}

.container-nav-link {
  margin-right: 25px;
  height: 25px;
}

.container-nav-highlight {
  color: #6acd00;
  font-weight: normal;
}

.container-nav-price {
  @extend %clearfix;

  width: 300px;
  margin-left: 10px;
  font-weight: bold;
}

.container-nav-price-label,
.container-nav-price-min,
.container-nav-price-max,
.container-nav-price-slider {
  float: left;
}

.container-nav-price-label {
  width: 75px;
}

.container-nav-price-min {
  margin-right: 5px;
}

.container-nav-price-max {
  margin-left: 5px;
}

.container-nav-price-slider {
  margin-top: 2px;
  height: 20px;
  width: 150px;
  background-color: #6acd00;
  border-radius: 10px;
}

.container-nav-search {
  position: absolute;
  right: 0;
  top: 0;
  width: 200px;
  height: 75px;
  background: url(image-path("container-nav-search.png")) #af00a5 no-repeat right 25px top 25px;
  border-radius: 40px;
}

.container-nav-search-input {
  @include placeholder-color(#fff);
  font-size: 18px;
  font-weight: 100;
  color: #fff;
  margin: 10px 20px;
  width: 125px;
  height: 50px;
  background: transparent;
  border: none;

  &:focus {
    outline: 0;
  }
}
