@import "main/helpers";

.container {
  background: #fff;
  padding-top: 60px;
}

.container-offers {
  @extend %clearfix;
}

.container-offer {
  width: 370px;
  height: 500px;
  background: #232d3b;
  float: left;
  margin-right: 30px;
  margin: 0 30px 90px 0;
  border-radius: 10px;
  display: table;
  -webkit-box-shadow: 0px 10px 1px rgba(0, 0, 0, 1);
  -moz-box-shadow:    0px 10px 1px rgba(0, 0, 0, 1);
  box-shadow:         0px 10px 1px rgba(0, 0, 0, 1);

  div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-size: 72px;
    font-weight: 100;
  }

  &.last {
    margin-right: 0;
  }
}

.container-nav {
  font-size: 18px;
  background: #232d3b;
  border-radius: 40px;
  height: 30px;
  padding: 25px 0 19px 45px;
}

.container-nav-links {
  @extend %flat-list;

  a {
    color: #fff;
    text-decoration: none;
  }
}

.container-nav-link {
  margin-right: 25px;

  span {
    color: #6acd00;
    font-weight: normal;
  }
}
