@import "main/helpers";

.psychics {
  @extend %clearfix;
  margin: 40px 0 80px 0;
  color: #677488;
}

.psychic {
  position: relative;
  display: block;
  width: 375px;
  height: 650px;
  float: left;
  margin-right: 15px;
  margin-bottom: 80px;
  background: url(image-path("psychic-card-bg.png")) repeat-y;
}

.psychic:nth-child(3n+3) {
  margin-right: 0;
}

.psychic-details {
  @extend %clearfix;
  margin: 25px 20px;
}

.psychic-shadow {
  width: 335px;
  height: 10px;
  margin: 0 auto;
}

.psychic-name {
  float: left;
  font-size: 34px;
  font-weight: 100;
}

.psychic-info {
  float: right;
  width: 125;
  border-left: 1px solid #cdd6db;
  padding-left: 20px;
}

.psychic-price {
  font-size: 28px;
  font-weight: normal;

  span {
    font-size: 18px;
    font-weight: 100;
  }
}

.psychic-extension {
  font-size: 18px;

  span {
    font-weight: normal;
  }
}

.psychic-description {
  margin: 0 20px 20px 20px;
}

.psychic-specialized-title {
  font-weight: normal;
}

.psychic-about {
  height: 50px;
  overflow: hidden;
}

.psychic-links {
  @extend %flat-list;
  font-size: 14px;
}

.psychic-link {
  margin-top: 10px;

  &:first-child {
    padding-right: 10px;
    border-right: 1px solid #dde2e4;
  }

  &.last {
    margin-left: 10px;
  }

  a {
    text-decoration: none;
    color: #17aeff;
  }
}

.psychic-status {
  color: #c2e8ac;
  font-size: 36px;
  padding: 30px;
}

.psychic-card-bottom {
  position: absolute;
  bottom: -24px;
  left: 0;
  width: 375px;
  height: 24px;
  background: url(image-path("psychic-card-bottom.png"));
}

.psychic-card-favorite-off {
  position: absolute;
  width: 94px;
  height: 100px;
  bottom: -50px;
  left: 20px;
  background: url(image-path("psychic-card-favorite-off.png"));
  z-index: 2;
}

.psychic-card-favorite-on {
  position: absolute;
  width: 94px;
  height: 100px;
  bottom: -50px;
  left: 20px;
  background: url(image-path("psychic-card-favorite-on.png"));
  z-index: 3;
}

.psychic-card-reviews-off {
  position: absolute;
  width: 94px;
  height: 100px;
  bottom: -50px;
  right: 20px;
  background: url(image-path("psychic-card-reviews-off.png"));
  z-index: 2;
}

.psychic-card-reviews-on {
  position: absolute;
  width: 94px;
  height: 100px;
  bottom: -50px;
  right: 20px;
  background: url(image-path("psychic-card-reviews-on.png"));
  z-index: 3;
}

.psychic-card-phone {
  position: absolute;
  width: 163px;
  height: 171px;
  bottom: -80px;
  left: 105px;
  background: url(image-path("psychic-card-phone.png"));
  z-index: 1;
}

.psychics-more {
  display: block;
  font-size: 36px;
  background: url(image-path("psychics-more.png")) #6acd00 no-repeat top 40px left 40px;
  color: #fff;
  text-decoration: none;
  text-align: center;
  width: 230px;
  margin: 0 auto;
  padding: 40px 40px 40px 110px;
  border-radius: 80px;
  margin-bottom: 140px;
}
