#psychic-details section.psychic-pricing {
  overflow: hidden;
  text-align: center;

  .about-action-items {
    display: inline-block;
  }

  .about-action-item {
    height: 190px;
    width: 240px;
  }

  .per-minute {
    background-image: url(image_path('psychics/price_icon.png'));
  }

  .current-call {
    background-image: url(image_path('psychics/current_call_icon.png'));
  }

  .est-wait-time {
    background-image: url(image_path('psychics/clock_icon.png'));
  }

  .people-waiting {
    background-image: url(image_path('psychics/waiting_icon.png'));
  }

  .about-psychic-badge {
    right: 30px;
  }

  small {
    font-size: 60%;
  }
}
