<div id="sign_in_error_modal" class="modal large">
  <header>
    <h1>Sign In Error</h1>
  </header>

  <%= render "clients/modals/spinner" %>
  
  <div class="modal-body">
    <%= render "modals/sign_in/form", user: User.new %>
  </div>
</div>