<%= f.fields_for schedule do |sf| %>
  <td>
    <div class="input-append datetimepicker">
      <%= sf.text_field :start_time_string, data: { format: "HH:mm PP" } %>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
    </div>
  </td>
  <td>
    <div class="input-append datetimepicker">
      <%= sf.text_field :end_time_string, data: { format: "HH:mm PP" } %>
      <span class="add-on">
        <i data-time-icon="icon-time" data-date-icon="icon-calendar"></i>
      </span>
    </div>
  </td>
<% end %>
