<div class="container-offers small_container">
  <div class="container-offer">
    <header class="container-offer-header">
      <span>$</span>60
    </header>

    <div class="container-offer-body">
      70
      <span>Credits</span>
    </div>

    <div class="container-offer-discount-bg"></div>
    <div class="container-offer-discount-14"></div>
  </div>

  <div class="container-offer">
    <header class="container-offer-header">
      <span>$</span>80
    </header>

    <div class="container-offer-body">
      95
      <span>Credits</span>
    </div>

    <div class="container-offer-discount-bg"></div>
    <div class="container-offer-discount-16"></div>
  </div>

  <div class="container-offer">
    <header class="container-offer-header">
      <span>$</span>99
    </header>

    <div class="container-offer-body">
      120
      <span>Credits</span>
    </div>

    <div class="container-offer-discount-bg"></div>
    <div class="container-offer-discount-18"></div>
  </div>
</div>
