<section class="contact small_container">

  <h1>Contact Us</h1>

  <p class="contact-main">
    Do you have any questions, comments or suggestions? We are always looking for ways to improve our service to better serve you. Your feedback is very important to us! Please share your comments using any of the following methods.
  </p>

  <aside>
    <h3>Mail</h3>
    <p>
      I Heart Psychics Co.<br>
      3565 South Las Vegas Blvd. Suite 340<br>
      Las Vegas, NV 89109
    </p>

    <h3>Email</h3>
    <p>
      support@iheartpsychics.co
    </p>

    <h3>Phone</h3>
    <p>
      434 - 647 - 0490
    </p>

    <h3>Social Networks</h3>
    <p>

    </p>
  </aside>

  <form>
    <label for="name">Name</label>
    <input name="name">

    <label for="email">Email</label>
    <input name="email"></input>

    <label for="phone">Phone#</label>
    <input name="phone">

    <label for="suggestions">Suggestions</label>
    <textarea name="suggestions"></textarea>
  </form>

</section>
