<div id="purchase_pixel_conversion">
  <form style='display:none;' name='utmform'>
    <textarea id='utmtrans'>
      UTM:T|order-id|affiliation|total
      UTM:I|<%= @order.id %>|Purchase|<%= @order.total %>
    </textarea>
  </form>
  <script type='text/javascript'>
    var _marinClientId = "5894pa32751";
    var _marinProto = (("https:" == document.location.protocol) ? "https://" : "http://");
    var _url = _marinProto + 'tracker.marinsm.com/tracker/' + _marinClientId + '.js';

    var JsLoader = {
      load: function(src, callback) {
        var script = document.createElement('script'),
            loaded;
        script.setAttribute('src', src);
        if (callback) {
          script.onreadystatechange = script.onload = function() {
            if (!loaded) {
              callback();
            }
            loaded = true;
          };
        }
        document.getElementsByTagName('head')[0].appendChild(script);
      }
    };

    JsLoader.load(_url, function() {
      try {
        _marinTrack.processOrders();
      } catch(err) {}
    });
  </script>

  <noscript>
    <img src="https://tracker.marinsm.com/tp?act=2&cid=5894pa32751&trans=UTM:T|order-id|affiliation|total%0AUTM:I|<%= @order.id %>|Purchase|<%= @order.total %>" />
  </noscript>
</div>
