.callback-modal-body {
  color: #8590a1;
}

.callback-modal-form {
  color: #000;
}

.callback-modal-form label {

}

.callback-modal-form select {
  width: 260px;
  height: 50px;
  line-height: 50px;
  border: 2px #bec5d0 solid;
  font-size: 18px;
  color: #8590a1;
}
