<nav class="signs">
  <div class="container_12">
    <%= image_tag "signs/left_arrow.png", class: "arrow left" %>

    <ul class="first selected">
      <% @horoscope.signs[0..5].each_with_index do |sign, index| %>
        <%= render "nav_sign_item", sign: sign, selected: select_if_first(index) %>
      <% end %>
    </ul>

    <ul class="last">
      <% @horoscope.signs[6..11].each_with_index do |sign| %>
        <%= render "nav_sign_item", sign: sign, selected: "" %>
      <% end %>
    </ul>
    <%= image_tag "signs/right_arrow.png", class: "arrow right" %>
  </div>
</nav>