<%= render "nav" %>

<section id="details" class="container_12">
  <div class="horoscopes_row">
    <% @horoscope.signs.each_with_index do |sign, index| %>
      <%= render "sign",  sign: sign, 
                          lovescope_horoscope: @lovescope_horoscope, 
                          selected: select_if_first(index, :horoscope) %>
    <% end %>
  </div>

  <div class="horoscopes_row">
    <%= render "horoscopes/sign/friendship", horoscope: @horoscope %>
    <%= render "horoscopes/sign/love", horoscope: @horoscope %>
  </div>
</section>