<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @callback.client_first_name %>,</p>

    <p>
      Your callback with <%= @callback.psychic_alias_name %> was cancelled.
    </p>

    <p>
      Best,
    </p>

    <p>
      I Heart Psychics<br/>
      <%= link_to "http://iheartpsychics.co", "http://iheartpsychics.co" %>
    </p>
  </body>
</html>
