<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Hi <%= @client.first_name %>,</p>

    <p>
      Please take note on your account PIN number - <%= @pin %>.
    </p>

    <p>
      You will need to enter this PIN number every time you
      call a psychic.
    </p>

    <p>
      You can always <%= link_to "reset your PIN online", reset_pin_client_url %>
    </p>

    <p>
      Best,
    </p>

    <p>
      I Heart Psychics<br/>
      <%= link_to "http://iheartpsychics.com", "http://iheartpsychics.com" %>
    </p>
  </body>
</html>
