<div id="forgot_password_modal" class="modal large">
  <header>
    <h1>Your password was changed!</h1>
  </header>

  <div class="modal-body">
    Please try to sign in again using your new password.
  </div>
</div>
