<div id="forgot_password_email_sent_modal" class="modal large">
  <header>
    <h1>Password reset request sent</h1>
  </header>

  <div class="modal-body">
    <p>
      An email with reset password instructions was sent to <span>your email</span>.
    </p>

    <p>
      Please verify your email box, then try to sign in again.
    </p>

    <footer>
      <%= link_to image_tag("modal/close_button.png"), "#", class: "close-button" %>
    </footer>
  </div>
</div>
