Dear <%= @psychic.first_name %>,

<p>
  You just finished a <%= @call.duration %> minutes talk
  with <%= @client.full_name %>.
</p>

<p>
  Best regards,
</p>

--<br>
I Heart Psychics<br>
http://iheartpsychics.com
