<div id="callback-modal" class="modal medium">
  <header>
    <h1>Schedule a Call Back</h1>
  </header>

  <div class="modal-body callback-modal-body">
    <p>
      How long are you willing to wait for a call back*?
    </p>

    <form class="callback-modal-form">
      <label>Hour</label>
      <select>
        <option>0</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
      </select>

      <label>Minutes</label>
      <select>
        <option>05</option>
        <option>10</option>
        <option>15</option>
        <option>20</option>
        <option>25</option>
        <option>30</option>
        <option>35</option>
        <option>40</option>
        <option>45</option>
        <option>50</option>
        <option>55</option>
      </select>
    </form>

    <p class="callback-modal-footer">
      * Please note that the Psychic you requested may not become available within the call back time requested. As a result, the scheduled call back will expire and be removed from the system.
    </p>

    <div class="callback-modal-actions">
      <input type="submit" value="Schedule">
      <a href="#" class="callback-modal-cancel">Cancel</a>
    </div>
  </div>
</div>
