<div id="sign_up_success_modal" class="modal large">
  <header>
    <h1>Account created</h1>
  </header>

  <div class="modal-body">
    <p>
      In order to verify your account and complete your subscription,<br>
      please check your email for a confirmation message.
    </p>

    <a href="#" class="close-button modal-close-button">Close</a>
  </div>
</div>
