@import "bootstrap";

// body {
//   padding-top: 20px;
//   padding-bottom: 20px;
// }

.right { text-align: right !important }

.blank-state {
  padding: 40px;
  color: #888;
  text-align: center;
}
