@import "bootstrap";

// body {
//   padding-top: 20px;
//   padding-bottom: 20px;
// }

.right { text-align: right !important }

.blank-state {
  padding: 40px;
  color: #888;
  text-align: center;
}

.search-summary {
  padding: 10px;
  color: #888;
}

.hidden {
  display: none;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}
