$countdown-margin: 80px;

$digit-width: 180px * 0.75;
$digit-height: 157px;
$digit-spacing: 20px;
$digit-font-size: 130px * 0.75;
$pair-spacing: 70px * 0.75;

$main-header-spacing: 100px * 0.50;
$main-header-font-size: 35px;
$main-text-font-size: 20px;

$button-width: 270px * 0.75;
$button-height: 20px * 0.75;
$button-font-size: 24px * 0.75;
$button-spacing: 70px * 0.75;
$button-area-height: ($button-height * 0.75) + 120px;

$subscribe-height: 220px * 0.75;
$subscribe-padding: ($subscribe-height * 0.35) * 0.75;
$subscribe-font-size: 30px * 0.75;
$subscribe-input-width: 500px * 0.75;
$subscribe-input-padding: 20px * 0.75;
$subscribe-input-margin: 50px * 0.75;
$subscribe-input-font-size: 24px * 0.75;
$subscribe-input-border-radius: (2 * $subscribe-input-font-size) * 0.75;

header {
  margin-bottom: $countdown-margin;
}

.container {
  text-align: center;
  padding: 55px 0;
  border-bottom: 2px #e1e7eb solid;
}

.countdown {
  width: (6 * $digit-width) + (3 * $digit-spacing) + (2 * $pair-spacing);
  margin: 0 auto;

  .pair {
    .digit {
      width: $digit-width;
      height: $digit-height;
      margin-right: $digit-spacing;

      background: url(image-path("digit-background.png"));
      padding: 15px 0;
      border-radius: 5px;
      float: left;
      font-size: $digit-font-size;
      font-family: "Roboto-Thin";
      text-align: center;
      color: #8590a1;
    }

    .middle {
      margin-right: $pair-spacing;
    }

    .last {
      margin-right: 0;
    }
  }

  .captions {
    clear: left;
    font-family: "Roboto";
    font-size: 40px;
    color: #8590a1;

    .caption {
      margin-top: 40px;
      float: left;
      width: ($digit-width * 2) + $digit-spacing;
      margin-right: $pair-spacing;
      text-align: center;
      margin-bottom: $countdown-margin;
    }

    .last {
      margin-right: 0;
    }
  }
}

.main {
  clear: left;
  border-top: 2px #e1e7eb solid;
  padding-top: $main-header-spacing;
  font-family: "Roboto-Thin";
  margin-bottom: $main-header-spacing;

  h1 {
    font-size: $main-header-font-size;
    font-weight: normal;
    color: #af00a5;
    margin-bottom: $main-header-spacing;
    text-align: center;
  }

  p {
    font-size: $main-text-font-size;
    color: #8590a1;

    a {
      text-decoration: none;
      color: #af00a5;
    }
  }
}

.actions {
  margin: 0 auto;
  width: (2 * $button-width) + $button-spacing;
  height: $button-area-height;

  a {
    font-family: "Roboto-Thin";
    font-size: $button-font-size;
    text-align: center;
    text-decoration: none;
    display: block;
    float: left;
    background: #7fd14d;
    border-radius: 48px;
    color: #fff;
    padding: ((($button-height / 2) - ($button-font-size / 2)) + 10px) 0;
    width: $button-width;
    margin-right: $button-spacing;
  }

  a.last {
    margin-right: 0;
  }
}

.subscribe {
  width: 100%;
  height: $subscribe-height;
  padding: $subscribe-padding 0 0 0;
  font-size: $subscribe-font-size;
  font-family: "Roboto-Thin";
  background-color: #92278f;
  color: #fff;
  text-align: center;

  div.text {
    text-transform: uppercase;
  }

  input {
    border: 0;
    width: $subscribe-input-width;
    padding: $subscribe-input-padding;
    margin-top: $subscribe-input-margin;
    border-radius: $subscribe-input-border-radius;
    font-size: $subscribe-input-font-size;
  }
}

footer {
  width: 100%;
  padding-top: 25px;
  height: 50px;
  font-family: "Roboto-Thin";
  font-size: 18px;
  color: #fff;
  background: #232d3b;
}
