<p>
  Dear <%= @psychic.first_name %>,
</p>

<p>
  Your application to I Heart Psychics was just approved. You can now login using
  the username and password you selected while applying.
</p>

<p>
  I Heart Psychics<br>
  http://iheartpsychics.co
</p>
