<p>
  Dear <%= @psychic.first_name %>,
</p>

<p>
  Your application to I Heart Psychics was just approved. You can now login using
  the username and password below:
</p>

<p>
  <b>Username:</b> <%= @psychic_application.username %><br>
  <b>Password:</b> <%= @psychic_application.password %>
</p>

<p>
  I Heart Psychics<br>
  http://iheartpsychics.co
</p>
