<p>
  Dear <%= @psychic.first_name %>,
</p>

<p>
  Your application to I Heart Psychic was received. Please allow up to 3 days
  for processing.
</p>

<p>
  I Heart Psychic<br>
  http://iheartpsychic.co
</p>
