<p>
  Dear recruiting team -
</p>

<p>
  A new psychic application has been received and is awaiting your review.
  Please <%= link_to "click here", admin_psychic_application_url(@psychic) %> to
  review the submission and respond accordingly.
</p>

<p>
  I Heart Psychics<br>
  http://iheartpsychics.co
</p>
