<p>
  Dear <%= @psychic.first_name %>,
</p>

<p>
  Your application to I Heart Psychics was received. Please allow up to 3 days
  for processing.
</p>

<p>
  I Heart Psychics<br>
  http://iheartpsychics.co
</p>
